main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcular {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    margin-top: 20px;
}