footer{
    background-color:var(--cinza);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
}

#icon{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

