header {
    height: 70px;
    border-radius: 20px;
    padding-left:25px;
    padding-right:25px;

    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;

    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 2);

    z-index: 4;
}

.gradientGame {
    color: #a60311;
}


.minhaLogo {
    font-family: var(--font-press);
}

.logo {
    width: 24px;
    height: 24px;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-bnt{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay{
    display: block;
}

.popup.popup.active .content{
    transition: all 30ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}