#matriz {
    width: 100%;
    margin: 40px 0;
}

form {
    display: flex;
    
}

form > input {
    border: 1px solid var(--cor-preta);
    height: 80px;
    width: 80px;
    text-align: center;
    display: flex;
    font-family: var(--font-press);
}

.btl{
    border-top: none;
    border-left: none;
}

.btr {
    border-top: none;
    border-right: none;
}

.bbl {
    border-bottom: none;
    border-left: none;
}

.bbr {
    border-bottom: none;
    border-right: none;
}

.bb {
    border-bottom: none;
}

.bt {
    border-top: none;
}

.bl {
    border-left: none;
}

.br {
    border-right: none;
}