.minhaMatriz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 48px 0 24px 0;
    padding: 24px 24px;
    border-radius: 16px;
    background-color: var(--cinza);
    width: 50vw;
    text-align: center;
}

.objetivo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    padding: 24px 24px;
    border-radius: 16px;
    background-color: var(--cinza);
    width: 50vw;
    text-align: center;
}

.minhaMatriz > p {
    color: #606060;
}

.objetivo > p {
    color: #606060;
}

@media (max-width: 720px) {
    .minhaMatriz, .objetivo {
        width: 94vw;
    }
}