@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Press+Start+2P&display=swap');

.titulo{
    font-family: var(--font-press);
    font-size: var(--t-40);
    text-align: center;
    margin-top: 144px;
    margin-bottom: 10px;
}

.titulo2{
    font-family: var(--font-press);
    font-size: var(--t-40);
    text-align: center;
    margin-top: 144px;
}

.titulo3 {
    font-family: var(--font-press);
    font-size: var(--t-40);
    text-align: center;
    margin-bottom: 10px;
}

.titulo4 {
    font-family: var(--font-press);
    font-size: var(--t-40);
    text-align: center;
    margin-top: 64px;
}

.text-subt {
    font-family: var(--font-press);
    font-size: var(--t-12);
}

.text {
    font-family: var(--font-poppins);
    font-size: var(--t-14);
}