@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');


.jogar{
    font-family: var(--font-press);
    font-size: var(--t-40);
    text-align: center;
    margin-top: 144px;
    margin-bottom: 10px;
}

.jogar2{
    font-family: var(--font-press);
    font-size: var(--t-40);
    text-align: center;
    margin-top: 144px;
}

.jogar3 {
    font-family: var(--font-press);
    font-size: var(--t-40);
    text-align: center;
    margin-bottom: 10px;
}

.text-subt {
    font-family: var(--font-press);
    font-size: var(--t-12);
}
