.form_contato {
    display: flex;
    flex-direction: column;
}

.inpt {
    height: 24px;
    width: 100%;
    text-align: start;

    padding: 4px 8px;
    font-family: var(--font-poppins);
    background-color: var(--cinza);
    border: none;
}

label {
    font-weight: 700;
    margin: 16px 0 4px 0;
}

.inpt2 {
    height: 128px;
    width: 100%;
    text-align: start;

    padding: 4px 8px;
    font-family: var(--font-poppins);
    background-color: var(--cinza);
    border: none;
}